<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Pingy! - Sing up</title>
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
    <link rel="icon" href="{% static 'icons/pingy.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="login_page">
        <div class="login_form-container">
            <h1>Pingy</h1>
            <span class="login_welcomeText">Welcome in the app Pingy!</span>
            <span class="login_description">Sign up a new account</span>
        <!-- Formularz logowania -->
    <form method="POST" class="login_form">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            {% if "This field is required" in error %}
                                <li class="passError">
                                    {{ error }}
                                </li>
                            {% else %}
                            <li>
                                {{ error }}
                            </li> 
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit">Sign up!</button>
    </form>
    <div class="login_registerText">
        <span>Already signed up?</span>
        <a style="text-decoration: none;" href="{% url 'login' %}">
          <span class="login_register-signUpText">Sign in!</span>
        </a>
    </div>
</div>
</body>
</html>
