<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Moja aplikacja{% endblock %}</title>
    <!-- Przykładowy plik CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Nagłówek, nawigacja -->
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <p>Zalogowany jako: {{ user.email }}</p>
                    <a href="{% url 'logout' %}">Wyloguj</a>
                    <li><a href="{% url 'user_panel' %}">Panel użytkownika - nie działa</a></li>
                {% else %}
                    <p>Niezalogowany</p>
                    <li><a href="{% url 'login' %}">Zaloguj</a></li>
                    <li><a href="{% url 'register' %}">Zarejestruj</a></li>
                {% endif %}
                <!-- Możesz dodać link do strony głównej czy innej:
                     <li><a href="{% url 'index' %}">Strona główna</a></li>
                -->
            </ul>
        </nav>
    </header>

    <!-- Blok na treść stron dziedziczących -->
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>&copy; 2025 - Pingy</p>
    </footer>

</body>
</html>
