<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Moja aplikacja{% endblock %}</title>
    <!-- Przykładowy plik CSS -->
    <link rel="stylesheet" href="{% static 'pingy/css/styles.css' %}">
</head>
<body>
    <div class="main_page">
    <!-- Nagłówek, nawigacja -->
    
                {% if user.is_authenticated %}
                <div class="loggedIn_container">
                    <span class="loggedIn_email">Welcome <span>{{ user.email }}</span> !</span>
                    <a href="{% url 'logout' %}">
                        <button class="button_logout">
                            <img src="../../static/icons/logout.png" alt="Log out" title="Log out"/>
                        </button>
                    </a>
                </div>
                <div>
                    <a href="{% url 'user_panel' %}">
                        <button class="userPanel_btn">
                                User Panel
                        </button>
                    </a>
                </div>
                    
                {% else %}
                <div class="login_form-container loginOrRegister_container">
                    <h1>Pingy</h1>
                    <span class="login_welcomeText">Welcome, stranger!</span>
                    <span class="login_description">Log in to your account or create a new one!</span>
                    <div class="login_form">
                        <a href="{% url 'login' %}">
                            <button style="width: 100%">Log in!</button>
                        </a>
                        <a href="{% url 'register' %}">
                            <button style="width: 100%">Register!</button>
                        </a>
                    </div>
            </div>
                {% endif %} 
    </div>

</body>
</html>
